h1,h2,h3,h4,h5{
    font-family: 'Raleway', sans-serif;
}

p{
    color: #777777;
}

body{
    font-family: 'Open Sans';
}


.welcome-text{
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
}

.welcome-text::after{
    content: "";
    background-color: #FF4655;
    height: 1px;
    width: 50%;
    display: inline-block;
    right: 0;
    margin-top: 25px;
}

.small-welcome-text{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    display: inline-block;
    padding: 0 300px;
    color: white;
}

a.btn.btn-prim{
    color: #FF4655;
}

a.btn.btn-prim:hover{
    color: white;
}

a.btn.btn-second:hover{
    color: #FF4655;
}

a.btn.btn-second{
    color: white;
}

.btn.btn-prim{
    border-color: #FF4655;
    color: #FF4655;
    border-radius: 0px;
}

.btn.btn-prim:hover{
    color: white;
    background-color: #FF4655;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn.btn-second{
    border-color: #FF4655;
    background-color: #FF4655;
    color: white;
    border-radius: 0px;
}

.btn.btn-second:hover{
    color: #FF4655;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.link-button .big-button{
    font-size: 16px;
    padding: 10px 25px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.link-button{
    padding-top: 25px;
}

#navbar-site .container #navbarCollapse .navbar-nav .nav-item .nav-link{
    display: block;
    padding: 27px 20px;
    font-size: 14px;
    color: white;    
    position: relative;
    font-weight: 700;
}

#navbar-site .container #navbarCollapse .navbar-nav .nav-item .nav-link:hover::after, #dropdown:hover{
    border-bottom: 2px solid #FF4655;
}

#navbar-site .container #navbarCollapse .navbar-nav .nav-item .nav-link::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#navbar-site{
    padding: 1px 0px;
}

#navbar-site .container #navbar-button .navbar-nav .nav-item a{
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 30px;
}

.welcome-section{
    background-image: url('../img/banner.jpg');
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-size: cover;
    z-index: 5;
}

.welcome-section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    left: 0;
    top: 0;
    z-index: -1;
}

.main{
    position: relative;
}

.caption{
    padding: 128px 0;
}

.register{
    padding: 150px 0;
}

.register-header{
    font-size: 20px;
    background-color: #FF4655;
    color: white;
    font-weight: 600;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.register-card{
    border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.form-modif{
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    height: 46px;
}

.form-modif:focus{
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.register-card .card-body label{
    font-weight: 600;
}

.register-card .card-body form > div{
    margin: 30px 0;
}

#profile_pic{
    padding: 3px;
    opacity: 0;
    position: absolute;
}

.image-preview{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px dashed #e5e5e5;   
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    margin: auto;
}

.image-preview-photo{
    display: none;
    width: 100%;
    border-radius: 100%;
    height: 100%;
}

.image-preview-text{
    border: 1px solid #FF4655;
    padding: 11px;
    color: #FF4655;
}

#dropdown > a{
    color: white;
}

#profile-pic{
    width:50px;
    height:50px;
    border-radius: 100%;
    margin: 10px;
}

.dropdown-menu{
    background-color: #111111 !important;
}

.dropdown-item{
    color: white !important;
}

.dropdown-item:hover{
    color: #292929 !important;
}